/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 
 
 
body {
    padding: 10px;
  }

#firstdiv{
    
    position: fixed;
    background: rgb(145, 216, 245);
    overflow: hidden;
 
}

.arrowprev {
     display: block;
     position: absolute;
 }

.pics img{ 
    
     overflow: hidden;
     display: block;

 }

img {
    display: block;
    
}

li {
    display: inline-block;
}



ul{
    transition: margin-left 250ms;

    list-style: none;
}

.arrownext{
    display: block;
    right: 7px;
    
}
