/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 
 

body{
    background-color:rgb(255, 211, 247);
}

.carousel{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        padding: 10px 40px;
        border: 3px solid rgb(248, 246, 143);
        border-radius: 15px;   
}

#firstdiv{
    
    position: absolute;
    background-color: rgb(181, 213, 255);
    width: 32%;
    height: 150px;
    overflow: hidden;
    margin: auto;

}

.pics div {
    position: relative;
    display: inline-block;
}

.pics img{ 
    width: 130px;
    height: 130px;
    padding: 10px;
    margin-left: 0px;
    position: relative;
    display: inline-block;

 }

.pics li {
    position: relative;
    display: inline-block;
    padding-right: 14px;
}

.pics ul{
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0px;
}

#carousel__button--prev,
#carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0);
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid rgba(0, 0, 0, 0);
}
#carousel__button--prev {
    left:0;
}
#carousel__button--next {
    right:0;
}

#carousel__button--prev::after,
#carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 28%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
#carousel__button--next::after {
  left: 62%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
