/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 
#firstdiv{
    
    position: fixed;
    background: rgb(145, 216, 245);
 }
 .arrowprev {
     display: block;
     position: absolute;
 }
 .pics { 
    
     
     overflow: hidden;
 }
 

li {
    display: inline-block;
}

img {
    display: block;
    
}

ul{
    transition: margin-left 250ms;
}

.arrownext{
    display: block;
    position: absolute;
    right: 7px;
}
