body {
    display: flex;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}
.sky {
    background-color: blue;
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-color:rgb(206, 32, 32);
    width: 500px;
    height: 150px;
    position:absolute;
}